---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Products">
  <main>
    <h2>Products We Made</h2>
    <article>
      <section class="products">
        <article class="product">
          <header>
            <h4>Play Poker Odds</h4>
            <p class="description">
              Guess your winning odds in a given Texas Hold'em situation. No
              bets, just fun.
            </p>
          </header>
          <section class="metadata">
            <ul>
              <li>Angular</li>
              <li>Express</li>
              <li>Docker</li>
            </ul>
            <ul class="links">
              <li>
                <a href="https://playpokerodds.com/" target="_blank">
                  <img
                    class="cursor-pointer"
                    src="/link.svg"
                    alt=""
                    width="30"
                  />
                </a>
              </li>
            </ul>
          </section>
        </article>
        <article class="product">
          <header>
            <h4>Scrum Poker Planning</h4>
            <p class="description">User Friendly, Open Source, Free Forever.</p>
          </header>
          <section class="metadata">
            <ul>
              <li>SolidJS</li>
              <li>Golang</li>
            </ul>
            <ul class="links">
              <li>
                <a
                  href="https://github.com/moby-it/planning-poker"
                  target="_blank"
                >
                  <img
                    class="cursor-pointer"
                    src="/github-circle.svg"
                    alt=""
                    width="30"
                  />
                </a>
              </li>
              <li>
                <a href="https://poker-planning.net/" target="_blank">
                  <img
                    class="cursor-pointer"
                    src="/link.svg"
                    alt=""
                    width="30"
                  />
                </a>
              </li>
            </ul>
          </section>
        </article>
      </section>
      <article class="labs">
        <header>
          <h3>Playgrounds Projects</h3>
        </header>
        <article class="product">
          <header>
            <h4>Boochat</h4>
            <p class="description">Meet and Chat Application</p>
          </header>
          <section class="metadata">
            <ul>
              <li>Flutter</li>
              <li>Nestjs</li>
              <li>Event Storming</li>
              <li>DDD</li>
            </ul>
            <ul class="links">
              <li>
                <a
                  href="https://github.com/moby-it/boochat-server"
                  target="_blank"
                >
                  <img
                    class="cursor-pointer"
                    src="/github-circle.svg"
                    alt=""
                    width="30"
                  />
                </a>
              </li>
            </ul>
          </section>
        </article>
      </article>
    </article>
    <footer>
      <address>
        <a href="https://www.linkedin.com/company/moby-it/" target="_blank">
          <img
            class="cursor-pointer"
            src="/linkedin-white.svg"
            alt=""
            width="30"
          />
        </a>
        <a href="https://github.com/moby-it" target="_blank">
          <img
            class="cursor-pointer"
            src="/github-circle-white.svg"
            alt=""
            width="30"
          />
        </a>
        <a href="mailto:contact@moby-it.com">contact@moby-it.com</a>
      </address>
      <p>© 2023 Moby IT. All rights reserved.</p>
    </footer>
  </main>
</Layout>
