<header>
  <a id="site-id" href="/">
    <img id="logo" src="/logo.png" alt="moby-it logo" width="150" height="34" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/products">Products</a>
      </li>
      <li>
        <a href="/team">Team</a>
      </li>
    </ul>
  </nav>
  <address>
    <a href="https://www.linkedin.com/company/moby-it" target="_blank">
      <img class="icon-link" src="/linkedin.svg" alt="linkedin-icon" />
    </a>
    <a href="https://github.com/moby-it" target="_blank">
      <img class="icon-link" src="/github-circle.svg" alt="github-icon" />
    </a>
    <a href="mailto:contact@moby-it.com" target="_blank">
      <img class="icon-link" src="/mail.svg" alt="email" />
    </a>
  </address>
</header>