:root {
  --dark--bg: #0e0124;
  --light--bg: #f9f9f9;
  --gray: rgb(43, 43, 43);
  --primary: rgb(42, 85, 212);
  --secondary: #bad5f0;
  --primary--opacity--weak: rgba(42, 85, 213, 0.6);
  --primary--opacity--strong: rgba(42, 85, 212, 0.95);
  --secondary--opacity--weak: rgba(186, 213, 240, 0.19);
  --secondary--opacity--strong: rgba(186, 213, 240, 0.2);
}
