body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1;
}

ul:not(.nav-links, .multiselect__content),
ol {
  padding-inline-start: var(--gap-3);
}

abbr {
  cursor: help;
}

.light {
  background-size: cover;
  background-color: var(--light--bg);
  opacity: 0.9;
  color: var(--primary);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 500ms ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

nav a {
  color: var(--primary--opacity--weak)
}

footer nav a,
footer nav a.active {
  color: white;
}


a.active {
  color: var(--primary--opacity--strong);
}

.multiselect__tag,
.multiselect__option--highlight {
  background-color: var(--secondary);
  color: black;
}
.multiselect__tag-icon:hover,.multiselect__tag-icon:focus {
  background: var(--primary);
}

.multiselect__option--highlight::after {
  background-color: var(--primary);
}

.multiselect__element li span :hover {
  background-color: var(--secondary);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
@media (width < 426px) {
  .multiselect__option--highlight::after {
    display: none;
  }
}