::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkgray;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
