.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-image: linear-gradient(to right bottom,  var(--primary--opacity--strong), var(--primary--opacity--weak));
}
.banner h2 {
  color: var(--primary);
}
.banner span {
  max-width: 80%;
}
