.banner {
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  background-image: linear-gradient(to right bottom,  var(--primary--opacity--strong), var(--primary--opacity--weak));
}
.banner .page-title {
  color: var(--primary);
}
.banner .subtitle {
  max-width: 80%;
}
@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 2rem 2rem;
  }
  .banner span {
    max-width: 100%;
  }
  .banner h2 {
    text-align: center;
  }
  #techicons {
    width: 200px;
  }
}
  