:root {
  --dark--bg: #0e0124;
  --light--bg: #ffffff;
  --primary: #2a55d4;
  --secondary: #bad5f0;
  --primary--opacity--weak: rgba(42, 85, 212, 0.19);
  --primary--opacity--strong: rgba(42, 85, 212, 0.23);
  --secondary--opacity--weak: rgba(186, 213, 240, 0.19);
  --secondary--opacity--strong: rgba(186, 213, 240, 0.23);
}
