footer {
  background: url("/assets/footer.png");
  background-size: cover;
  padding: 5rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer.home {
  background: url("/assets/footer-home.png");
}
footer div {
  flex: 1;
}
.footer-logo {
  width: 150px;
}
footer,
footer img,
footer a {
  color: white;
}

.footer-links {
  display: flex;
  gap: 23px;
  flex: 1;
}

.footer-icons {
  flex: 1;
  display: flex;
  gap: 10px;
}