#home-content {
  background-image: url("/assets/background.png");
  background-size: cover;
  color: white;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
footer {
  background: url("/assets/footer-home.png");
}
#home-content > section:not(:first-child) {
  padding-top: 8rem;
}
#home-content > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-we-value > section,
.what-we-do > section {
  display: flex;
  flex: 1;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.what-we-value {
  max-width: 1056px;
  margin: auto;
}
#home-content > section > h2 {
  margin-bottom: 4rem;
}
#academy {
  flex: 1 0 520px;
}
#academy em {
  font-weight: bold;
}
@media (width >= 425px) {
  .what-we-do .card {
    height: 390px;
  }
  .what-we-value .card {
    height: 320px;
  }
}
