.what-we-do {
  padding-top: 2rem;
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/assets/background.png");
  background-size: cover;
  color: white;
}

#dive {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.what-we-do article {
  display: flex;
}
