.logo {
  font-family: "Aeonik Pro", sans-serif;
}
main {
  scroll-behavior: smooth;
  margin-top: 80px;
}
.section {
  padding: 5rem 7rem;
}
.section span,
.section p,
.section li {
  padding: 0 40px;
}
.section > div {
  margin: auto;
  max-width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.light {
  background-size: cover;
  background-color: var(--light--bg);
  opacity: 0.9;
  color: var(--primary);
}
.light span,
.light p,
.light li {
  color: var(--dark-bg);
}
.dark {
  background: url("/assets/sea.png");
  background-size: cover;

  color: var(--secondary);
}
.section h2 {
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
