
@media screen and (min-width: 768px) {
  #main-section-wrapper {
    margin-top: 2rem;
    flex-direction: column !important;
    padding: 0 6rem;
  }
}
@media only screen and (max-width: 425px) {
  
  #main-section-wrapper {
    margin-top: 2rem;
    flex-direction: column !important;
  }

  .products {
    flex-direction: column !important;
  }
  .product {
    max-width: calc(100% - 2rem);
  }
  .navbar {
    display: none;
  }
  header {
    justify-content: center;
  }
  .banner,
  .section .card {
    padding: 1rem 2rem;
  }
  main {
    margin-top: 0;
    padding: 1rem;
  }

}
