.products-container {
  margin-top: 50px;
  background: url("/assets/products-bg.png");
  background-size: cover;
  color: white;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container h3,
.products-container h4 {
  max-width: 842px;
  text-align: center;
}

.products {
  margin-top: 50px;
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.product {
  background-color: var(--light--bg);
  border-radius: 36px;
  width: 556px;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 26px;
  box-sizing: border-box;
}

.product h4 {
  color: black;
  text-align: left;
}

.product .description {
  color: var(--gray);
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

}

.tag {
  padding: 8px 16px;
  color: black;
  background-color: var(--secondary);
  border-radius: 35px;
}

.links {
  display: flex;
  gap: 16px;
}

.metadata {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .products {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
  }

  .metadata {
    flex-direction: column;
    gap: 10px;
  }

  .products-container {
    margin-top: 0;
    padding: 2rem;
    padding-top: 9rem;
  }
}