main > h2 {
  padding: 1rem;
  text-align: center;
}
.products {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 50px;
  padding: 1rem;
  max-width: 1150px;
  flex-wrap: wrap;
}

.product {
  background-color: var(--light--bg);
  border-radius: 2rem;
  min-height: 192px;
  display: flex;
  width: 556px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.75rem;
  box-sizing: border-box;
}

.product header p {
  color: var(--gray);
}

.metadata {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.metadata > ul:first-child {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.metadata > ul:first-child li {
  padding: 6px 12px;
  font-size: smaller;
  color: black;
  background-color: var(--secondary);
  border-radius: 2rem;
}

.links {
  display: flex;
  gap: 1rem;
}
footer {
  background: url("/assets/footer-products.png");
}
@media (width <= 1024px) {
  footer {
    padding: 1rem;
  }
}
@media (width <= 600px) {
  .product {
    width: auto;
  }
}
