main > article {
  background: url("/assets/products-bg.png");
  background-size: cover;
  color: #001f3f;
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h2 {
  padding: 1rem;
  text-align: center;
}
.products {
  margin-top: 50px;
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  max-width: 1150px;
  flex-wrap: wrap;
}

.product {
  background-color: var(--light--bg);
  border-radius: 36px;
  width: 556px;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 26px;
  box-sizing: border-box;
}

.product header p {
  color: var(--gray);
}

.metadata {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.metadata > ul:first-child {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.metadata > ul:first-child li {
  padding: 8px 16px;
  color: black;
  background-color: var(--secondary);
  border-radius: 35px;
}

.links {
  display: flex;
  gap: 16px;
}

@media (width <= 1024px) {
  .product {
    max-width: 300px;
  }
  footer {
    padding: 1rem;
  }
}
