body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.light {
  background-size: cover;
  background-color: var(--light--bg);
  opacity: 0.9;
  color: var(--primary);
}

@media only screen and (min-width: 426px) {
  main {
    margin-top: 0;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
}
@media only screen and (max-width: 425px) {
  .mobile {
    display: initial;
  }
  .desktop {
    display: none;
  }
}
