.team {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.team-member-data {
  display: flex;
  flex-direction: column;
}
.team-member-data span{
  color: var(--gray);
}
.team-member-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team-member .profile-img {
  width: 274px;
  object-fit: cover;
  border-radius: 2rem;
  height: 274px;
}