#team {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--gray);
  flex-wrap: wrap;
}
.team-member > img {
  width: 274px;
  object-fit: cover;
  border-radius: 2rem;
  height: 274px;
}
