body,
footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
h1 {
  font-size: 8rem;
  line-height: 1;
  font-family: heading;
}
h2 {
  font-size: 4rem;
  font-family: heading;
}
h3 {
  font-size: 2rem;
  font-family: heading;
}
@font-face {
  font-family: heading;
  src: url("../assets/AeonikProTRIAL-Regular.otf");
}
@font-face {
  font-family: heading-italic;
  src: url("../assets/AeonikProTRIAL-RegularItalic.otf");
}
em {
  font-family: heading-italic;
}
