body{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
h1 {
  font-size: 4.5rem;
  line-height: 6rem;
  font-family: "Aeonik Pro", sans-serif;
}
/* no used?? */
h2 {
  font-size: 4rem;
  font-family: "Aeonik Pro", sans-serif;
}
h3 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "Aeonik Pro", sans-serif;
}
h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Aeonik Pro", sans-serif;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: "Aeonik Pro", sans-serif;
}
em {
  font-family: "Aeonik Pro", sans-serif;
  font-style: italic;
}
@media only screen and (max-width: 425px) {
  .tail {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  body {
    font-size: 16px;
  }
}